@import "styles/utils";

.header {
  padding: 48px 0 40px;

  @include media(">desktop") {
    padding-top: 70px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
