@import "styles/utils";

.inputWrapper {
  display: flex;
  align-items: center;
  background: var(--theme-box-color);
  box-shadow: var(--theme-box-shadow);
  border-radius: 5px;
  overflow: hidden;

  &.leftSide {
    padding-left: 20px;

    @include media(">desktop") {
      padding-left: 24px;
    }
  }

  .input {
    flex: 1;
    min-height: 48px;
    color: var(--theme-input-text-color);
    background: transparent;
    border: 0;
    padding: 0 12px;
    outline: 0;
    caret-color: var(--theme-primary-color);

    @include media(">desktop") {
      min-height: 64px;
      padding: 0 24px;
    }

    &::placeholder {
      color: var(--theme-secondary-color);
    }
  }
}
