
.todoBox {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  word-break: break-word;
  outline: none;

  &.completed {
    .contents {
      color: var(--theme-gray-color);
      text-decoration-line: line-through;
    }
  }

  .contents {
    flex: 1;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.17px;
    margin-left: 12px;
  }

  .button {
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 16px;

    svg {
      width: 12px;
      height: 12px;
    }
  }
}
