@import "styles/utils";

.todoBox {
  display: flex;
  align-items: center;
  background: var(--theme-box-color);
  padding: 16px 20px;
  word-break: break-word;
  outline: none;
  cursor: pointer;

  &:hover {
    .button {
      opacity: 1;
    }
  }

  &.completed {
    .contents {
      color: var(--theme-gray-color);
      text-decoration-line: line-through;
    }
  }

  .contents {
    flex: 1;
    margin-left: 12px;

    @include media(">desktop") {
      margin-left: 24px;
    }
  }

  .button {
    display: flex;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-left: 16px;

    @include media(">desktop") {
      margin-left: 24px;
      opacity: 0;
      transition: opacity 0.25s;
    }

    svg {
      width: 12px;
      height: 12px;

      @include media(">desktop") {
        width: 18px;
        height: 18px;
      }
    }
  }
}
