@import "styles/utils";

.themeButton {
  display: flex;
  background: transparent;
  border: 0;
  cursor: pointer;

  svg {
    height: 20px;

    @include media(">desktop") {
      height: 26px;
    }
  }
}
