@import "styles/utils";

.logo {
  display: flex;

  h1 {
    display: flex;
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 9.5px;
    color: var(--theme-white-color);

    @include media(">desktop") {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 15px;
    }
  }
}
